*{
    margin:0;
    padding: 0;
}

body{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    padding: 3rem;
    background-color: whitesmoke;
    height: 50vh;
    width:48vh;
    border-radius: 2rem;
    
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head h2{
    font-size: 2rem;
}

.inputv{
    font-size: 0.90rem;
    padding:5vh ;
    
}
.inputv p{
    margin-left: 1vh;
    margin-bottom: 0.5vh;
}
.inputv input{
    height: 2.5rem;
    width: 100%;
    border-radius: 7px;
    border: 2px solid black;
    font-size: 1.5rem;
    text-indent: 10px;
}
.inputv:hover{
    border: none;
}

.converter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    height: 2vh;   
    
}

.from,.to{
    
    font-size: 1rem;
    /* padding: 20px; */
    
}
.select-from select,.to select{
    height: 3vh;
    width: 8vh;
    font-size: 1rem;
    border: none;
    
}

.select-from,.select-to{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
i{
    font-size: 1.5rem;
    margin-top: 1vh;
    padding: 0.5vh;
}

.converted{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-converter{
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-converter button{
    font-size: 1.2rem;
    height: 40px;
    width: 50%;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
}

.select-from img, .select-to img{
    max-width: 2rem;
    margin-right: 0.5vh;
}
